@use '../variables' as *;

.button {
    background-color: $accent;
    color: white;
    border: none;
    border-radius: $radius;
    padding: 0.5em 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
        background-color: $accent-dark;
    }
}